<a href="/">Voltar para Home</a>
<hr>
<h1>Clubes</h1>
<hr>
<form action="/clube/save" method="post">
    <input type="text" name="nome" placeholder="Digite o nome do clube" required />
    <br>
    <label>Status: </label>
    <input type="checkbox" name="status" checked />
    <br>
    <br>
    <input type="submit" value="Cadastrar" />
</form>
<hr>
<h2>Lista de Clubes</h2>
<table border="1px">
    <tr>
        <th>Id Clube</th>
        <th>Nome do Clube</th>
        <th>Status do Clube</th>
        <th>Ações</th>
    </tr>
    {{#each clubes}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nome}}</td>
        <td>{{#if this.status}} Ativo {{else}} Inativo {{/if}}</td>
        <td> 
            <a href="/clube/{{this.id}}"> Exibir detalhes </a>
            | <a href="/clube/delete/{{this.id}}"> Excluir </a>
            | <a href="/clube/edit/{{this.id}}"> Editar </a>
        </td>
    </tr>
    {{/each}}
</table>