<a href="/clubes">Voltar para listagem de Clubes</a>
{{#with clube}}
<h1>Detalhes do Clube {{nome}}</h1>
<ul>
    <li>ID Clube: {{id}} </li>
    <li>Nome Clube: {{nome}}</li>
    {{#if status}}
    <li>Status Clube: Ativo</li>
    {{else}}
    <li>Status Clube: Inativo</li>
    {{/if}}
    <li>Created: {{createdAt}}</li>
    <li>Updated: {{updatedAt}}</li>
</ul>
{{/with}}