{{#with usuario}}
<h2>Detalhes do Usuário {{nome_usuario}}</h2>
<p>Id Usuário: {{id_usuario}}</p>
<p>Nome: {{nome_usuario}}</p>
<p>Endereço: {{endereco_usuario}}</p>
<p>E-mail: {{email_usuario}}</p>
<p>Data Nascimento: {{data_nascimento_usuario}}</p>
{{/with}}
