<form action="/usuario/save" method="post">
    <label>Nome:</label>
    <input type="text" name="nome" id="" />
    <br>
    <label>Endereço:</label>
    <input type="text" name="endereco" id="" />
    <br>
    <label>E-mail:</label>
    <input type="email" name="email" id="" />
    <br>
    <label>Data Nascimento:</label>
    <input type="date" name="dataNascimento" id="" />
    <br>
    <input type="submit" value="Cadastrar">
</form>
<hr>
<h1>Lista de Usuários</h1>
<table border="1px">
    <tr>
        <th>Id Usuário</th>
        <th>Nome Usuário</th>
        <th>Endereço</th>
        <th>E-mail</th>
        <th>Data Nascimento</th>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{this.id_usuario}}</td>
        <td>{{this.nome_usuario}}</td>
        <td>{{this.endereco_usuario}}</td>
        <td>{{this.email_usuario}}</td>
        <td>{{this.data_nascimento_usuario}}</td>
    </tr>
    {{/each}} 
</table>
