<a href="/tarefas/criar">Cadastrar Novas Tarefas</a>
<hr>
<h1>Lista de tarefas</h1>
<ul>
    {{#each tarefas}}
        {{#if this.status}}
        <li style="text-decoration: line-through;">{{this.titulo}}
            - {{this.descricao}}</li>
        {{else}}
            <li>
            <a href="/tarefas/editar/{{this.id}}">{{this.titulo}}</a>
            - {{this.descricao}} <a href="/tarefas/concluir/{{this.id}}">Concluir</a> </li>
        {{/if}}
    {{/each}}
</ul>